{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf100
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;\f1\fmodern\fcharset0 CourierNewPS-BoldMT;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;\red255\green255\blue255;\red83\green83\blue83;
\red10\green82\blue135;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;\cssrgb\c100000\c100000\c100000;\cssrgb\c40000\c40000\c40000;
\cssrgb\c0\c40000\c60000;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\sl295\partightenfactor0

\f0\fs26\fsmilli13440 \cf2 \cb3 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 #For\'e7a a utilizar Cache-Control e Expires header\cf4 \strokec4 \
\cf2 \strokec2 <
\f1\b \cf5 \strokec5 IfModule
\f0\b0 \cf4 \strokec4  \cf2 \strokec2 mod_headers.c>\cf4 \strokec4 \
\'a0\'a0\cf2 \strokec2 Header unset ETag\cf4 \strokec4 \
\cf2 \strokec2 </
\f1\b \cf5 \strokec5 IfModule
\f0\b0 \cf2 \strokec2 >\cf4 \strokec4 \
\cf2 \strokec2 FileETag None\cf4 \strokec4 \
\cf2 \strokec2 <
\f1\b \cf5 \strokec5 IfModule
\f0\b0 \cf4 \strokec4  \cf2 \strokec2 mod_expires.c>\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresActive on\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresDefault "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType text/cache-manifest "access plus 0 seconds"\cf4 \strokec4 \
\'a0\cf2 \strokec2 # Html\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType text/html "access plus 0 seconds"\cf4 \strokec4 \
\'a0\cf2 \strokec2 # Data\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType text/xml "access plus 0 seconds"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType application/xml "access plus 0 seconds"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType application/json "access plus 0 seconds"\cf4 \strokec4 \
\'a0\cf2 \strokec2 # Feed\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType application/rss+xml "access plus 1 hour"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType application/atom+xml "access plus 1 hour"\cf4 \strokec4 \
\'a0\cf2 \strokec2 # Favicon\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType image/x-icon "access plus 1 week"\cf4 \strokec4 \
\'a0\cf2 \strokec2 # Media: images, video, audio\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType image/gif "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType image/png "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType image/jpg "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType image/jpeg "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType video/ogg "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType audio/ogg "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType video/mp4 "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType video/webm "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 # HTC files\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType text/x-component "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 # Webfonts\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType application/x-font-ttf "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType font/opentype "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType application/x-font-woff "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType image/svg+xml "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType application/vnd.ms-fontobject "access plus 1 month"\cf4 \strokec4 \
\'a0\cf2 \strokec2 # CSS / JS\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType text/css "access plus 1 year"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType application/javascript "access plus 1 year"\cf4 \strokec4 \
\'a0\cf2 \strokec2 ExpiresByType application/x-javascript \'a0"access plus 1 year"\cf4 \strokec4 \
\cf2 \strokec2 </
\f1\b \cf5 \strokec5 IfModule
\f0\b0 \cf2 \strokec2 >\cf4 \strokec4 \
\cf2 \strokec2 #For\'e7a o IE a sempre carregar utilizando a \'faltima vers\'e3o dispon\'edvel\cf4 \strokec4 \
\cf2 \strokec2 <
\f1\b \cf5 \strokec5 IfModule
\f0\b0 \cf4 \strokec4  \cf2 \strokec2 mod_headers.c>\cf4 \strokec4 \
\'a0\'a0\cf2 \strokec2 Header set X-UA-Compatible "IE=Edge,chrome=1"\cf4 \strokec4 \
\'a0\'a0\cf2 \strokec2 <
\f1\b \cf5 \strokec5 FilesMatch
\f0\b0 \cf4 \strokec4  \cf2 \strokec2 "\\.(js|css|gif|png|jpeg|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >\cf4 \strokec4 \
\'a0\'a0\'a0\'a0\cf2 \strokec2 Header unset X-UA-Compatible\cf4 \strokec4 \
\'a0\'a0\cf2 \strokec2 </
\f1\b \cf5 \strokec5 FilesMatch
\f0\b0 \cf2 \strokec2 >\cf4 \strokec4 \
\cf2 \strokec2 </
\f1\b \cf5 \strokec5 IfModule
\f0\b0 \cf2 \strokec2 >\cf4 \strokec4 \
}