html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	margin-top: 40px;
}

 ul li a{
	color: #b5153f !important;
	background: transparent!important;
}
 ul li a:hover{
	color: #b5153f;
	background: transparent!important;
	border-bottom: 1px solid;
}
header{
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 18px;
}

.carousel-indicators .active{
  background-color: #940002;
  border: #940002;
}

.navbar{
  background-color: #fff;
  padding: 10px;
  height: 85px;
}
.alinha-centro{
	text-align:center;
}
.logo-topo{
	width: 55%;
	margin-top: -20px;
}
.menu-nav{
	margin-left: 120px;
  padding-top: 10px;
}

.btn-phone{
  float: right;
  margin-top: 5px;
  background: #b5153f;
  padding: 10px 25px;
  border-radius: 6px;
}
.menu-top{
	margin-top:10px;
	margin-bottom: 10px;
}
.btn-phone span{
	color: #ffffff;
	padding-left: 20px;
}
#header{
	background-image: url(../img/header/bg-home.jpg); 
	background-size: cover;
	min-height: 720px;
	text-align: center;
	background-attachment: fixed;
	background-position: center;
}
#header .txt-descritivo{
	color:#fff;
	width:55%;
	font-size: 20px;
	margin: 0 auto;
	margin-top: 8%;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
}
#header .img-responsive{
	margin: 0 auto;
  width: auto;
  float: none;
}
.txt-jgchoco{
	margin-top: 20%;
}
.cupcake-icon{
	margin-top: 4%;
}
.txt-jg-quemSomos h1{
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	color: #5d4037;
	text-align: center;
	padding-top: 50px;
	font-size: 50px;
  font-weight: 600;
}
.descricao-quem-somos{
	color: #3c3b3b;
  font-size: 22px;
  width: 63%;
  padding: 30px 0;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
  line-height: 1.5;
  letter-spacing: 5px;
  padding-bottom: 50px;
}
.quem-somos-barra{
	text-align: center;
}
.chef{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}
.chef h3{
	font-family: 'Indie Flower', cursive;
	text-transform: capitalize;
}


#produtos{
	background: #f4f5f9;
	min-height: 100vh;
}
#produtos h2{
	color:#6a6a6a;
	text-align: center;
	padding-top: 30px;
	font-size: 50px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	padding-bottom: 30px;
}
.produto{
	background: #f4f5f9;
	position: relative;
	text-align: center;
	margin-top: 4%;
}
.produto .produto-titulo{
	color: #b5153f;
	font-size: 24px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
.btn-orcamento,
.btn-mapa{
	background: #b5153f;
	color: #fff;
	margin-top: -90px;
	border: none;
	padding: 10px 40px;
}
.btn-orcamento:link,
.btn-orcamento:visited,
.btn-orcamento:active{
	background: #b5153f;
	color: #fff;
}
.btn-orcamento:hover,
.btn-mapa:hover,
.btn-form:hover{
	background: rgba(170, 1, 52, 1);
	color: #fff;
}

.btn-mapa{
	margin-top: 0;
}

#btn-fotos{
	margin-top: 0
}

.info-destaque{
	padding: 60px;
}
.info-destaque h3{
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	letter-spacing: 1px;
	color: #b5153f;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.info-destaque h1{
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	letter-spacing: 3px;
	color: #b5153f;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #2b2b2b;
}
.info-destaque p{
	text-align: center;
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 2.1;
	color: #3e3e3e;
	padding-left: 20px;
	padding-right: 20px;
}


.alinha-centro .btn-group{
	margin-top: 120px;
	margin-bottom: 0;
}

#lista-produtos{
	font-family: 'Nunito', sans-serif;
}
#lista-produtos h3{
	font-weight: 900;
	font-size: 22px;
	text-align: center;
	letter-spacing: 6px;
	color: #4b4b4b;
	border-bottom: 2px dotted #4b4b4b;
	padding-bottom: 10px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
#lista-produtos h4{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 2px;
	color: #2b2b2b;
	padding-left: 10px;
}
#lista-produtos p{
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.6;
	color: #3e3e3e;
	padding-left: 10px;
	padding-right: 10px;
}
#lista-produtos .produto-especial h3,
#lista-produtos .produto-especial h4
{
	color: #b5153f !important
}
#clientes{
	color: #fff;
	text-align: center;
	min-height: 100vh;
	background-image: url(../img/clientes/bg.jpg); 
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

#clientes p{
	font-size: 11px;
}

#clientes h3{
	padding-top: 50px;
	font-size: 50px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}
.carrossel img{
	margin:0 auto;
	padding: 65px 0 40px 0;
}
.desc-cliente{
	width: 33%;
  text-align: center;
  margin: 0 auto;
}
.desc-cliente p{
	padding-top: 20px;
	font-size: 16px !important;
	line-height: 1.4;
	letter-spacing: 2px;
	font-family: 'Nunito', sans-serif;
}
.left{
	background: transparent!important;
}
.right{
	background: transparent!important;
}
.nome-cliente{
	font-family: 'Indie Flower', cursive;
	text-transform: capitalize;
	font-size: 26px;
  text-align: right!important;
}
.glyphicon-chevron-left,
.glyphicon-chevron-right{
	margin-top: -55px !important;
}
.seta-esq{
	margin-left:10%!important;
}
.seta-dir{
	margin-right: 10%!important;
}
#contato{
	background: #fff;
}
#contato h2{
	color:#999999;
	text-align: center;
	padding-top: 50px;
	font-size: 50px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

#contato p{
	color: #999999;
  font-size: 16px;
  padding: 20px 0;
  text-align: center;
  letter-spacing: 1px;
}

.bg-form{
	background: #ececec;
	padding: 60px 60px 40px 60px;
	margin-bottom: 50px;
	border-radius: 5px;
}

.bg-form textarea{
	width:100%;
}

.bg-form input, textarea{
	background-color:transparent;
	border:0;
	box-shadow: none!important;
	border-bottom:1px solid #b3b3b3;
	border-radius:0;
}

.bg-form input::-webkit-input-placeholder {
	text-align: left;
}

.bg-form input:-moz-placeholder { /* Firefox 18- */
	color: red;  
}

.bg-form input::-moz-placeholder {  /* Firefox 19+ */
	color: red;  
}

.bg-form input:-ms-input-placeholder {  
	color: red;  
}

.bg-form textarea::-webkit-input-placeholder {
	text-align: left;
}

.bg-form textarea:-moz-placeholder { /* Firefox 18- */
	color: red;  
}

.bg-form textarea::-moz-placeholder {  /* Firefox 19+ */
	color: red;  
}

.bg-form textarea:-ms-input-placeholder {  
	color: red;  
}

.btn-form{
	padding: 10px 50px;
	background: rgb(181, 21, 63);
	margin-top: 30px;
	border: none;
	color: #fff;
}

.footer-esq{
	color: #8a6953;
  text-align: center;
  margin-top: 16%;
}
.conhecer-footer{
	font-size: 25px;
}
.end-footer{
	font-size: 16px;
}
.padding-right{
	padding-right:0;
}
#footer{
	overflow: hidden;
}
footer{
	background:#896751;
	min-height: 50px;
	color: #fff;
	font-size: 32px;
}
footer a,
footer a:hover,
footer a:link,
footer a:visited
{
	color: #fff;
	text-decoration: none;
}
footer .dev{
	padding-top: 15px;
	text-align: right;
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 2px;
}
.carrossel-interno{
	margin-bottom: 70px;
}



/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
	.navbar-brand{
		display: block;
		width: 150px;
		margin-top: -30px;
		margin-left: -75px;
		position: absolute;
		left: 55%;
	}
	.navbar-brand img{
		display: inline-block;
		margin-top: 15px;
	}
	.btn-phone span {
		padding-left: 5px; 
		padding-top: 3px;
	}
	.btn-phone {
    float: right;
    background: #b5153f;
    padding: 8px 6px;
    border-radius: 6px;
  }

	.site-container {
	  position: absolute;
	  text-align: center;
	  width: 100%;
	  height: 100%;
	  left: 0;
	  margin: 0 auto;
	}

.button_container {
  position: fixed;
  top: 30px;
  left: 5%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  background: #5d4037;
}
.button_container.active .middle {
  background: #5d4037;
}
.button_container.active .bottom {
  background: #5d4037;
}
.button_container span {
  background: #5d4037;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}
.menu-desktop{
	display: none;
}
.overlay {
  position: fixed;
  background: #5d4037;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
  padding-left: 10px;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100%;
  padding-top: 20px;
}
.overlay ul li {
  display: block;
  position: relative;
  opacity: 0;
  float: none;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF !important;
  text-decoration: none;
  overflow: hidden;
  font-size: 30px;
  text-align: left;
  width: 100%;
  height: 60px;
}

#header {
  background-image: url(../img/header/bg-home.jpg);
  -webkit-background-size: auto 100%;
  background-attachment: scroll;
  min-height: 100vh;
}
.txt-jgchoco{
	margin-top: 20%;
}
.txt-jgchoco img{
	width: 85%;
}
.cupcake-icon img{
	width: 20%;
}
#header .txt-descritivo {
  width: auto;
  margin-top: 15%;
}

.txt-jg-quemSomos h1{
	font-size: 28px;
	padding-top: 30px;
}
.descricao-quem-somos{
  font-size: 18px;
  width: auto;
  padding: 30px 25px;
  letter-spacing: 4px;
  padding-bottom: 30px;
}

#produtos h2{
	font-size: 28px;
	padding-top: 30px;
}

.info-destaque{
	padding: 0;
	margin-top: 40px;
}
.info-destaque p{
	line-height: 1.5
}
#produtos .img-left{
	margin-left: 0px;
}
#produtos .img-right{
	margin-left: 0px;
	position: absolute;
	margin-top: 270px;
	padding-right: 30px;
}
#destaque-3{
	margin-top: 160px;
}
#lista-produtos p {
  margin-bottom: 10px;
}
.preco{
	text-align: center;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
}

#clientes{
	background-attachment: scroll;
}

#clientes h3{
	font-size: 28px;
	padding-top: 30px;
}
#clientes img{
	width: 45%;
}
.glyphicon-chevron-left.seta{
	width: 50%;
	margin-top: -90px !important;
	margin-left: -30px;
}
.glyphicon-chevron-right{
	width: 50%;
	margin-top: -90px !important;
	margin-right: -30px !important;
}
.desc-cliente {
  width: auto;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  margin-top: -30px;
      height: 210px;
}
#contato h2{
	font-size: 28px;
	padding-top: 30px;
}

.bg-form {
  padding: 30px 20px 40px 20px;
}

.footer-dir{
	margin-left: -15px;
  margin-top: 20px;
}
footer,
.dev{
	text-align: center !important;
	padding-bottom: 5px;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
}