body{
	font-family: 'Maven Pro', sans-serif;
}

p{
	color:#9fa4af;
}

/*HEADER*/
 ul li a{
	color: #4c94c0 !important;
	background: transparent!important;
}
 ul li a:hover{
	color: #4c94c0;
	background: transparent!important;
	border-bottom: 1px solid;
}

.nav>li>a{
	padding: 10px;
}
header{
	font-family: 'Maven Pro', sans-serif;
	font-weight: 600;
	font-size: 18px;
}

.navbar{
	background-color: #fff;
 	padding: 10px;
	height: 70px;
}
.alinha-centro{
	text-align:center;
}
.logo-topo{
	width: 80%;
}
.menu-nav{
	padding-top: 5px;
}
.navbar-brand{
	padding-top: 0;
}
.menu-top{
	margin-top:10px;
	margin-bottom: 10px;
}
.btn-cotacao{
	background: none;
	color: #4c94c0;
	border: 1px solid;
	border-radius: 10px;
	margin-top: 3px;
}
.btn-cotacao:hover{
	background: none;
	color: #4c94c0;
	border: 2px solid;
}

/*HOME*/
#home{
	background-image: url(../img/home/bg-home.jpg); 
	background-size: cover;
	min-height: 100vh;
	text-align: center;
	background-position: center;
}

#home .jumbotron {
    padding-top: 30%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #fff;
    background-color: transparent;
}

#home .jumbotron p {
  color: #fff;
}

.jumbotron h1 {
  font-size: 50px;
  font-family: 'Maven Pro', sans-serif;
}

/*SOBRE*/
#sobre{
	background-image: url(../img/sobre/bg-sobre.jpg); 
	background-size: cover;
	min-height: 720px;
	background-position: center;
	margin-top: -30px;
}

#sobre> .container h1{
	text-align: center;
    margin-top: 20px;
    padding: 70px 0 30px 0;
    font-weight: bold;
    color: #4f4f6f;
}

#sobre> .container h2{
	margin-top:65px;
	font-weight: bold;
	color: #4f4f6f;
}

#sobre p{
	font-size: 1.2em;
}

/*SEGUROS*/
#seguros, 
#beneficios{
	background-image: url(../img/default/bg-default.jpg); 
	background-size: cover;
	min-height: 100vh;
	background-position: center;
	margin-top: -30px;
}

#seguros> .container h1,
#beneficios> .container h1{
	text-align: center;
	margin-top: 20px;
	padding: 30px 0 10px 0;
	font-weight: bold;
	color: #4f4f6f;
}

.title-seg{
	text-align: center;
}

.btn-seguro{
	background: transparent;
  border: 2px solid #4c94c0;
  color: #4c94c0;
  font-size: 18px;
  font-weight: bold;
  border-radius: 14px;
  padding: 10px 30px;
  -webkit-box-shadow: 0px 0px 8px 2px #4c94c0;
  -moz-box-shadow: 0px 0px 8px 2px #4c94c0;
  box-shadow: 0px 0px 8px 2px #4c94c0;
}

.btn-row{
	margin-top: 30px;
}

.btn-pf{
	margin-right: 50px;
}

.btn-pj{
	margin-left: 50px;
}

.tipos-seguro{
	margin: 20px 0;
}

/*PARCEIROS*/
#parceiros{
	background: #7157df;
	min-height: 100vh;
}

#parceiros> .container h1{
	text-align: center;
    margin-top: 20px;
    padding: 30px 0 10px 0;;
    font-weight: bold;
    color: #FFFFFF;
}

#parceiros> .container p{
	color:#fff!important;
}

/*CONTATO*/
#contato{
	background: #fff;
	min-height: 650px;
	background-size: cover;
	background-position: center;
}

#contato h2{
	margin-top: 50px;
	color: #4f4f6f;
	letter-spacing: 4px;
	font-weight:bold;
	font-size: 32px;
	text-align: center;
}

#contato p{
	text-align: center;
	margin-top: 3%;
	font-size: 14px;
	line-height: 1.5;
	color: #9fa4af;
}

.dados-contato{
	background-color:#4c94c0;
	color: #fff;
	text-align: left!important;
	height: 375px;
	padding-top: 80px;
}

.dados-contato h4{
	font-weight: bold;
	margin-top: 30px;
}

.dados-contato p{
	text-align: left!important;
	color: #fff !important;
}

.box-contato{
	margin-top: 50px;
}

.form-contato{
	-webkit-box-shadow: 11px 14px 32px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: 11px 14px 32px 0px rgba(0,0,0,0.26);
	box-shadow: 11px 14px 32px 0px rgba(0,0,0,0.26);
}

.form-contato{
	background: #fff;
	padding: 60px 60px 40px 60px;
	margin-bottom: 90px;
}

.form-contato textarea{
	width:100%;
}

.form-contato input, textarea{
	background-color:transparent;
	border:0;
	box-shadow: none!important;
	border-bottom:1px solid #b3b3b3;
	border-radius:0;
}

.form-contato input::-webkit-input-placeholder {
	text-align: left;
}

.form-contato textarea::-webkit-input-placeholder {
	text-align: left;
	padding-left: 10px;
}

.form-action{
	text-align: center;
}
.btn-form{
	padding: 10px 50px;
}


/*FOOTER*/

#footer{
	background-color:#4c94c0;
	padding: 15px 0;
}

#footer a{
	color:#fff;
}

.dev{
	text-align: right !important;
	padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {
	.site-container{position:absolute;text-align:center;width:100%;height:100%;left:0;margin:0 auto;}

	.navbar-brand{
		float: none;
	}
	.navbar-brand img{
		display: inline-block;
		width:65%;
	}
	.button_container{
		position:fixed;
		top:20px;
		left:2%;
		height:27px;
		width:35px;
		cursor:pointer;
		z-index:100;
		-webkit-transition:opacity .25s ease;
		transition:opacity .25s ease;
	}
	.button_container:hover{opacity:.7;}
	.button_container.active .top{background:#4c94c0;}
	.button_container.active .middle{background:#4c94c0;}
	.button_container.active .bottom{background:#4c94c0;}
	.button_container span{background:#4c94c0;border:none;height:5px;width:100%;position:absolute;top:0;left:0;-webkit-transition:all .35s ease;transition:all .35s ease;cursor:pointer;}
	.button_container span:nth-of-type(2){top:11px;}
	.button_container span:nth-of-type(3){top:22px;}
	.overlay{position:fixed;background:#4c94c0;top:0;left:0;width:100%;height:0%;opacity:0;visibility:hidden;-webkit-transition:opacity .35s, visibility .35s, height .35s;transition:opacity .35s, visibility .35s, height .35s;overflow:hidden;}
	.overlay.open{opacity:.9;visibility:visible;height:100%;padding-left:10px;}
	.overlay.open li{-webkit-animation:fadeInRight .5s ease forwards;animation:fadeInRight .5s ease forwards;-webkit-animation-delay:.35s;animation-delay:.35s;}
	.overlay.open li:nth-of-type(2){-webkit-animation-delay:.4s;animation-delay:.4s;}
	.overlay.open li:nth-of-type(3){-webkit-animation-delay:.45s;animation-delay:.45s;}
	.overlay.open li:nth-of-type(4){-webkit-animation-delay:.50s;animation-delay:.50s;}
	.overlay nav{position:relative;height:70%;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
	.overlay ul{list-style:none;padding:0;margin:0 auto;display:block;position:relative;height:100%;}
	.overlay ul li{display:block;position:relative;opacity:0;float:none;}
	.overlay ul li a{display:block;position:relative;color:#FFF !important;text-decoration:none;overflow:hidden;font-size:30px;text-align:left;width:100%;height:60px;font-family:'Open Sans', sans-serif;}
	@-webkit-keyframes fadeInRight{0%{opacity:0;left:20%;}
	100%{opacity:1;left:0;}
	}
	@keyframes fadeInRight{0%{opacity:0;left:20%;}
	100%{opacity:1;left:0;}
	}
	#home .jumbotron p {
  	padding-top: 20%;
	}

	.jumbotron h1 {
	  font-size: 38px;
	  font-family: 'Maven Pro', sans-serif;
	}
	.btn-pf, .btn-pj{
		float: none !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
		margin-bottom: 20px;
		background: none;
		border: 2px solid #4c94c0;
		color: #4c94c0;
		font-size: 18px;
		font-weight: bold;
		border-radius: 14px;
		padding: 10px 30px;
		-webkit-box-shadow: 0px 0px 8px 2px #c2c9db;
		-moz-box-shadow: 0px 0px 8px 2px #c2c9db;
		box-shadow: 0px 0px 8px 2px #c2c9db;
	}
	.btn-pf:active, 
	.btn-pj:active,
	.btn-pf:hover, 
	.btn-pj:hover,
	{
		color: #4c94c0 !important;
	}
	.tipos-seguro{
		margin: 0;
	}
	#seguros .img-responsive{
		display: inline-block !important;
	}
	#beneficios{
		padding-bottom: 20px;
	}
	#parceiros{
		min-height: 370px;
	}
	.dados-contato {
  height: auto;
  padding-top: 5px;
  padding-bottom: 20px;
}